body{

  background-size: cover;
 
}
.blur{
  height: 100vh;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 margin-top: -30px;




}
.blur img{
   height: 550px;
   width: 660px;
   -webkit-filter: drop-shadow(5px 5px 5px #222);
   filter: drop-shadow(5px 5px 5px #222222b0);
}
.butons{
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 40px;
 width: 660px;
}
.blur button{
   width: 300px;
   height: 60px;
  font-size: 30px;
  font-weight: bolder;
  border-radius: 30px;
  background-color: #4c4d56 ;
  outline: none;
  color: white;
  border: none;
  border: white 2px solid;
}
.blur button:hover{
  background-color: #0f0f0f;
  border: 2px white solid;
}